[submodule "lib/libutil"]
	path = lib/libutil
	url = https://github.com/xnuports/libutil.git
[submodule "src/at_cmds"]
	path = src/at_cmds
	url = https://github.com/xnuports/at_cmds.git
[submodule "src/basic_cmds"]
	path = src/basic_cmds
	url = https://github.com/xnuports/basic_cmds.git
[submodule "src/misc_cmds"]
	path = src/misc_cmds
	url = https://github.com/xnuports/misc_cmds.git
[submodule "src/doc_cmds"]
	path = src/doc_cmds
	url = https://github.com/xnuports/doc_cmds.git
[submodule "src/adv_cmds"]
	path = src/adv_cmds
	url = https://github.com/xnuports/adv_cmds.git
[submodule "src/diskdev_cmds"]
	path = src/diskdev_cmds
	url = https://github.com/xnuports/diskdev_cmds.git
[submodule "src/file_cmds"]
	path = src/file_cmds
	url = https://github.com/xnuports/file_cmds.git
[submodule "src/mail_cmds"]
	path = src/mail_cmds
	url = https://github.com/xnuports/mail_cmds.git
[submodule "src/network_cmds"]
	path = src/network_cmds
	url = https://github.com/xnuports/network_cmds.git
[submodule "src/patch_cmds"]
	path = src/patch_cmds
	url = https://github.com/xnuports/patch_cmds.git
[submodule "src/remote_cmds"]
	path = src/remote_cmds
	url = https://github.com/xnuports/remote_cmds.git
[submodule "src/shell_cmds"]
	path = src/shell_cmds
	url = https://github.com/xnuports/shell_cmds.git
[submodule "src/text_cmds"]
	path = src/text_cmds
	url = https://github.com/xnuports/text_cmds.git
[submodule "src/system_cmds"]
	path = src/system_cmds
	url = https://github.com/xnuports/system_cmds.git
[submodule "src/bc"]
	path = src/bc
	url = https://github.com/xnuports/bc.git
[submodule "tools/fix-macosx-internal-sdk"]
	path = tools/fix-macosx-internal-sdk
	url = https://github.com/xnuports/fix-macosx-internal-sdk.git
[submodule "lib/libedit"]
	path = lib/libedit
	url = git@github.com:xnuports/libedit.git
[submodule "lib/lib"]
	path = lib/lib
	url = git@github.com:xnuports/zlib.git
[submodule "lib/libcurses"]
	path = lib/libcurses
	url = git@github.com:xnuports/Libcurses.git
[submodule "lib/libmd"]
	path = lib/libmd
	url = https://github.com/apple-oss-distributions/libmd.git
