[submodule "lib/libutil"]
	path = lib/libutil
	url = https://github.com/xnuports/libutil.git
[submodule "src/at_cmds"]
	path = src/at_cmds
	url = https://github.com/xnuports/at_cmds.git
[submodule "src/basic_cmds"]
	path = src/basic_cmds
	url = https://github.com/xnuports/basic_cmds.git
[submodule "src/bootstrap_cmds"]
	path = src/bootstrap_cmds
	url = https://github.com/xnuports/bootstrap_cmds.git
[submodule "src/misc_cmds"]
	path = src/misc_cmds
	url = https://github.com/xnuports/misc_cmds.git
[submodule "src/doc_cmds"]
	path = src/doc_cmds
	url = https://github.com/xnuports/doc_cmds.git
[submodule "src/adv_cmds"]
	path = src/adv_cmds
	url = https://github.com/xnuports/adv_cmds.git
[submodule "src/developer_cmds"]
	path = src/developer_cmds
	url = https://github.com/xnuports/developer_cmds.git
[submodule "src/diskdev_cmds"]
	path = src/diskdev_cmds
	url = https://github.com/xnuports/diskdev_cmds.git
[submodule "src/file_cmds"]
	path = src/file_cmds
	url = https://github.com/xnuports/file_cmds.git
[submodule "src/mail_cmds"]
	path = src/mail_cmds
	url = https://github.com/xnuports/mail_cmds.git
[submodule "src/network_cmds"]
	path = src/network_cmds
	url = https://github.com/xnuports/network_cmds.git
